{% extends 'components/main.html' %}
<title>Fridge | Taproot</title>
<style>
p {
  word-wrap: word-wrap;
  width: 100px;
  margin-left: 100;
}
</style>

{% block content %}

<div class="inventoryFunctions">
  <h1>{{obj.title}}</h1>
  <img style="max-width:600px; border-radius: 5px; border-color: rgb(255, 255, 255); border-style: ridge;" src={{obj.image.url}} alt="discover_image">
  <br>
  <br>
  <h3>Ingredients:</h3>
  <p class="lead"><br>{{obj.ingredients}} </p>
  <h3>Instructions:</h3>
  <ol > <br>{{obj.instructions}} </ol>
  <br>
  <a class="btn btn-warning" href="{% url 'discover' %}" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go Back </a>
</div>

{% endblock %}