<!DOCTYPE html>

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      {% include 'components/bootstrap_code.html'%}
      {% include 'components/navbar_user.html' %}
    <title>Fridge | Taproot</title>

    <style>
        body {
            
            font-family: Arial, sans-serif;
            text-align: left;
        }
    </style>
</head>
<body>
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Item</button>
        <a class="btn btn-outline-warning" href="{% url 'fridgelist' %}" role="button">Cancel</a>
    </form>
{% endblock %}
</body>