<!DOCTYPE html>
<head>
    {% include 'components/main.html' %}
    <title>Fridge | Taproot</title>
</head>

<body>    
{% block content %}
<h1>Delete from Fridge</h1>
    <form method="POST">
        {% csrf_token %}
        <p class="lead"> Do you want to delete {{ item_name }}? </p>
        <button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-outline-warning" href="{% url 'fridgelist' %}" role="button">Cancel</a>
    </form>
{% endblock %}
</body>