{% extends 'components/main.html' %}

{% block header %}
  <title>Fridge | Taproot</title>
{% endblock %}
  


{% block content %}
<div class="inventoryFunctions">
<form action="" method="POST">
  <div class="form-group">
  <div class="container-md">
    <div class="text-center">
      <h1> Update Fridge Item <i class="bi bi-egg-fried"></i> </h1>
      <p class="lead"> • Fill in details below </p>
    </div>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <div class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Update <i class="bi bi-arrow-clockwise"></i></button>
          <a class="btn btn-warning" href="{% url 'fridge' %}" role="button">Cancel <i
              class="bi bi-x-octagon"></i></a>
            </div>
          </div>
        </div>
  </div>
</div>
</div>
{% endblock %}