<html lang="en" data-bs-theme="dark">
  <head> 
  {% load static %}
  {% include 'components/bootstrap_code.html' %}
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% include 'components/navbar.html'%}
  <style></style>
</head>
<body>
    <!--bootstrap NavBar-->
    <!--end-->
    {% block content %}
    <div style="padding: 10px;"></div>
    {% endblock %}

</body>
<!-- <section class="border-top has-default-focus is-hidden-interactive margin-top-sm  margin-top-none">
	<footer id="footer" data-bi-name="footer" class="footer-layout uhf-container has-padding" role="contentinfo">
	<div class="display-flex is-full-height padding-right-lg-desktop">
	</div>
  </footer>
</section> -->
</html>