<!DOCTYPE html>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="navbar-brand">
        <img src="http://raw.githubusercontent.com/CSC394-FoodTeam/food-waste-app/staging/src/taproot/demo/images/32x32_124204103.png" alt="Logo" class="logo">
        <b><a class="navbar-brand" href="{% url 'index' %}">Taproot</a></b>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link{% if request.path == '/' %} active{% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/discover/' %} active{% endif %}" href="#">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/faq/' %} active{% endif %}" href="{% url 'faq' %}">FAQ</a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'index' %}">Login</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>