<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container px-4 text-center">
    <div class="navbar-brand">
      <img src="/static/images/32x32_124204103.png" alt="Logo" class="logo">
      <b><a class="navbar-brand" href="{% url 'index' %}">Taproot</a></b>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/' %} active{% endif %}" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/discover/' %} active{% endif %}"
            href="{% url 'discover' %}">Discover</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/faq/' %} active{% endif %}" href="{% url 'faq' %}">FAQ</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
            <li><a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
            {% if user.is_superuser %}
            <li><a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa fa-users" aria-hidden="true"></i> Admin portal</a></li>
            <li><a class="dropdown-item" href="{% url 'recipe' %}"><i class="fa fa-list-ul" aria-hidden="true"></i> Recipe list</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a></li>
            {% else %}
            <li><a class="dropdown-item" href="/login/auth0"><i class="fa fa-sign-in" aria-hidden="true"></i> Login </a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link{% if request.path == '/feedback/' %} active{% endif %}" href="{% url 'feedback' %}">
            <i class="fa fa-comments" aria-hidden="true"></i>
            <span>Give Feedback</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>