<!DOCTYPE html>
<html lang="en" data-bs-theme="dark"></html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      {% include 'components/bootstrap_code.html'%}
      {% include 'components/navbar.html' %}
      <title>Pantry | Taproot</title>

    
</head>
{% block content %}
    <form method="POST">
        {% csrf_token %}
        Do you want to delete {{ item_name }}?
        <button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-outline-warning" href="{% url 'pantrylist' %}" role="button">Cancel</a>
    </form>
{% endblock %}
</body>
</html>