<!DOCTYPE html>
<head>
    {% include 'components/main.html' %}
    <title>Pantry | Taproot</title>
</head>

<body>
{% block content %}
<div class="inventoryFunctions">
<h1>Delete from Pantry</h1>
    <form method="POST">
        {% csrf_token %}
        <p class="lead"> Do you want to delete <u>{{ item_name }}</u>? </p>
        <button type="submit" class="btn btn-primary">Yes</button>
        <a class="btn btn-outline-warning" href="{% url 'pantrylist' %}" role="button">Cancel</a>
    </form>
</div>
{% endblock %}
</body>