{% extends 'components/main.html' %}
{% block content %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pantry | Taproot</title>
    {% block title %}Pantry{% endblock %}
    <style>
        body {
            
            font-family: Arial, sans-serif;
            text-align: left;
        }
    </style>
</head>

<body>
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Put in Pantry</button>
        <a class="btn btn-outline-warning" href="{% url 'pantrylist' %}" role="button">Cancel</a>
  </form>
{% endblock %}
</body>