{% extends 'components/main.html' %}
{% block header %}<title>Pantry | Taproot</title>{% endblock %}
{% block content %}
<form action="" method="POST">
  <div class="inventoryFunctions">
      <div class="form-group">
        <div class="text-center">
          <h1> Add Item - Pantry <i class="fa fa-columns" aria-hidden="true"></i></h1>
          <p class="lead"> • Fill in details below </p>
        </div> 
        <div class="card text-center">
          <div class="card-body">
            <div class="form-group">
              {% csrf_token %}
              {{ form.as_p }}
              <br>
              <button value="Submit" type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></i> Add Item</button>
              <a class="btn btn-warning" href="{% url 'pantry' %}" role="button"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
            </div>
          </div>
        </div>
      </div>
  </div>
</form>
{% endblock %}