{% extends 'components/main.html' %}
{% block header %}<title>Pantry | Taproot</title>{% endblock %}
{% block content %}
<div class="inventoryFunctions">
<h1>Delete item from Pantry</h1>
    <form method="POST">
        {% csrf_token %}
        <p class="lead"> Do you want to delete "{{ item_name }}"? </p>
        <button type="submit" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete </button>
        <a class="btn btn-warning" href="{% url 'pantry' %}" role="button"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</a>
    </form>
</div>
{% endblock %}