<!DOCTYPE html>
<head>
    {% include 'components/main.html' %}
    <title>Fridge | Taproot</title>
</head>

<body>    
{% block content %}
<h1>Delete all from Pantry</h1>
    <form method="POST">
        {% csrf_token %}
        <p class="lead"> Are you sure you want to delete all of your itmes in your Pantry {{ user }}? </p>
        <button type="submit" class="btn btn-primary">Yes <i class="bi bi-eraser-fill"></i></button>
        <a class="btn btn-warning" href="{% url 'pantry' %}" role="button">Cancel <i class="bi bi-x-octagon"></i></a>
    </form>
{% endblock %}
</body>