{% extends 'components/main.html' %}
<title>Recipe | Taproot</title>
{% block content %}

<style>
    .inventoryBook{
        text-align:justify !important;
    }
</style>

<div class="inventory">
<h1>Create Recipes</h1>
<p class="lead"> • Fill in details below </p>
<div class="inventoryBook">
<div class="form-group">
    <form action="" method="POST">
    	{% csrf_token %}
        {{ form.as_p }}
        <button type="Submit" type="submit" class="btn btn-primary">Post Recipe</button>
    </form>
</div>
</div>
</div>

{% endblock %}