{% extends 'components/main.html' %}
{% block header %}
    <title>Book | Taproot</title>
{% endblock header %}
{% block content %}
<div class="inventory">
<h1>Recipes</h1>
    <div class="inventoryBook">
    {% if error_message %}
        <p>{{ error_message }}</p>
    {% else %}
        <h2>Recommended Recipe: {{ recipe.name }}</h2>
        <p>Number of matching ingredients: {{ count }}</p>
        <ul>
            {% for ingredient in recipe.ingredients.all %}
                <li>{{ ingredient.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>
{% endblock %}