{% extends 'components/main.html' %}

<title>Discover2! | Taproot</title>
{% block content %}

<div class="database_recipes container">
    <h1>Discover Test Page </h1>
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for i in discover %}
      <div class="col">
        <div class="card" style="width: 25rem;">
          <img style="max-width:500px" src={{i.image.url}} /> 
          <div class="text-bg-dark p-3">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">Restrictions: {{ i.restrictions }}   | Cuisine: {{ i.cuisine }}</p>
            <a href="{% url 'discoverview' i.id %}" class="btn btn-outline-info">View <i class="bi bi-book-half"></i></a>
            <a href={{i.source}} class="btn btn-outline-warning">Source Website <i class="bi bi-box-arrow-in-up-right"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}