{% extends 'components/main.html' %}
{% block header %}
    <title>Discover | Taproot</title>
{% endblock %}
{% block content %}
   
<span>
<h1>Discover Recipes </h1>
</span>
<br>


<div class="container px-4 text-center">
  <div class="row gx-5">
        {% for i in discover %}
        <!--card start-->
        <div class="col d-flex justify-content-center" style="padding-bottom: 24px;">
          <div class="card" style="width: 25rem;">
            <img style="max-width:500px" src={{i.image.url}} class="card-img-top" alt="discover_image">
            <div class="text-bg-dark p-3">
              <h5 class="card-title">{{ i.title }}</h5>
              <p class="card-text">Restrictions: {{ i.restrictions }}   | Cuisine: {{ i.cuisine }}</p>
              <a href="{% url 'discoverview' i.id %}" class="btn btn-outline-info">View <i class="bi bi-book-half"></i></a>
              <a href={{i.source}} class="btn btn-outline-warning">Source Website <i class="bi bi-box-arrow-in-up-right"></i></a>
            </div>
          </div>
        </div>
        <!--card end-->
          {% endfor %}
      </div>
  </div>
<br>
{% endblock %}
