<!DOCTYPE html>
{% extends 'components/main.html'%}
{% block header %}<title>Fridge | Taproot</title>{% endblock %}
{% block content %}
<div class="inventory">
<h1>Inventory: Fridge </h1>
<br>
<table class="table" id="fridgeTable">
  <thead class="table-secondary">
  <tr>
      <th data-card-title> Item </th>
      <th> Category </th>
      <th> Expiry Date </th>
      <th> Quantity </th>
      <th data-card-footer> Manage </th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  
  {% for i in fridge %}

  <tr>
      <td>  {{ i.item_name }}  </td>
      <td>  {{ i.category }} </td>
      <td>  {{ i.expiry_date }}  </td>
      <td>  {{ i.quantity }} </td>
      <td>
        <a class="btn btn-outline-primary" href="{% url 'fridgeupdate' i.id %}" role="button">Update <i class="bi bi-arrow-clockwise"></i></a>
        <a class="btn btn-outline-danger" href="{% url 'fridgedelete' i.id %}" role="button">Delete <i class="bi bi-trash3"></i></a>
      </td>
  </tr>
  </tbody>
  {% endfor %}
</table>
<a class="btn btn-outline-light" href="{% url 'fridgecreate' %}" role="button">Add Fridge Item <i class="bi bi-plus-circle"></i></a>
<a class="btn btn-outline-danger" href="{% url 'fridgeDeleteAll' %}" role="button">Delete All <i class="bi bi-eraser-fill"></i></a>
{% endblock %}

