
{% extends 'components/main.html'%}
{% block header %}<title>Pantry | Taproot</title>{% endblock %}

{% block content %}
<div class="inventory">
<h1>Inventory - Pantry <i class="fa fa-columns" aria-hidden="true"></i></h1>
<a class="btn btn-outline-light" style="margin-bottom: 10px;" href="{% url 'pantrycreate' %}" role="button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Item </a>
<a class="btn btn-outline-danger" style="margin-bottom: 10px;" href="{% url 'pantrydeleteall' %}" role="button"><i class="fa fa-trash" aria-hidden="true"></i> Delete All</a>
<table class="table" id="pantryTable">
  <thead class="table-secondary">
  <tr>
      <th data-card-title style="border-top-left-radius: 5px;"> Item </th>
      <th> Category </th>
      <th> Expiry Date </th>
      <th> Quantity </th>
      <th data-card-footer style="border-top-right-radius: 5px;"> Manage </th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  
  {% for i in pantry %}

  <tr>
      <td>  {{ i.item_name.capitalize }}  </td>
      <td>  {{ i.get_category_display }} </td>
      <td>  {{ i.expiry_date }}  </td>
      <td>  {{ i.quantity }} </td>
      <td>
        <a class="btn btn-outline-primary" href="{% url 'pantryupdate' i.id %}" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update </a>
        <a class="btn btn-outline-danger" href="{% url 'pantrydelete' i.id %}" role="button"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete </a>
      </td>
  </tr>
  </tbody>
  {% endfor %}
</table>
</div>
{% endblock %}
