{% include 'components/main.html' %}

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Pantry | Taproot</title>

    <style>
        body {
            
            font-family: Arial, sans-serif;
            text-align: left;
        }
    </style>
</head>

<body>
{% block content %}
<h2>Pantry Items</h2>
<table class= "table">
    <tr>
        <th>  Item  </th>
        <th>  Category  </th>
        <th>  Expiry Date </th>
        <th>  Quantity  </th>
    </tr>
    {% for i in pantry %}
    <tr>
        <td>  {{ i.item_name }}  </td>
        <td>  {{ i.category }} </td>
        <td>  {{ i.expiry_date }}  </td>
        <td>  {{ i.quantity }} </td>
        <td>
            <a class="btn btn-outline-primary" href="{% url 'pantryupdate' i.item_name %}" role="button">Update</a>
            <a class="btn btn-outline-danger" href="{% url 'pantrydelete' i.item_name %}" role="button">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-outline-light" href="{% url 'pantrycreate' %}" role="button">Add Pantry Item</a>
{% endblock %}
</body>