{% extends 'main.html' %}


{% block content %}
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      {% include 'bootstrap_code.html' %}
    <title>Home | Taproot</title>


</head>

<form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <!--<div class="vstack gap-2 col-md-5 mx-auto">-->
    
        <button type="submit" class="btn btn-primary">Save Item</button>
        <a class="btn btn-outline-warning" href="{% url 'fridgelist' %}" role="button">Cancel</a>
     
  </form>
{% endblock %}
