<!DOCTYPE html>
<html lang="en" data-bs-theme="dark"></html>
<html>

  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      {% include 'bootstrap_code.html'%}
      {% include 'navbar.html' %}
    <title>Home | Taproot</title>

    
</head>
<div class="main">
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Update Item</button>
        <a class="btn btn-outline-warning" href="{% url 'pantrylist' %}" role="button">Cancel</a>
    </form>
 
</div>